# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
.vercel
.turbo

# Environment
.env
.env.local
.env.*.local
!.env.example
!.env.production

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Testing
coverage

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma
packages/database/prisma/migrations/**/migration_lock.toml

# Misc
.cache
*.tsbuildinfo
.env*.local
